dependencies: &dependencies
  name: install dependencies
  command: |
    python -m venv venv || virtualenv venv
    . venv/bin/activate
    pip install -U pip
    pip install -r requirements.txt
    pip install -r test_requirements.txt

tests: &tests
  name: Unit tests
  command: |
    . venv/bin/activate
    pytest --cov=aws_okta_keyman -v
    codecov

pycodestyle: &codechecks
    name: Style and formatting checks
    command: |
      . venv/bin/activate
      pyflakes aws_okta_keyman
      black --check ./
      isort --check-only ./

version: 2
workflows:
  version: 2
  test:
    jobs:
      - test-3.10
      - test-3.11
      - test-3.12
      - test-3.13
      - test-3.14

jobs:
  test-3.10:
    steps:
      - checkout
      - run: *dependencies
      - run: *tests
      - run: *codechecks
    docker:
      - image: cimg/python:3.10

  test-3.11:
    steps:
      - checkout
      - run: *dependencies
      - run: *tests
      - run: *codechecks
    docker:
      - image: cimg/python:3.11

  test-3.12:
    steps:
      - checkout
      - run: *dependencies
      - run: *tests
      - run: *codechecks
    docker:
      - image: cimg/python:3.12

  test-3.13:
    steps:
      - checkout
      - run: *dependencies
      - run: *tests
      - run: *codechecks
    docker:
      - image: cimg/python:3.13

  test-3.14:
    steps:
      - checkout
      - run: *dependencies
      - run: *tests
      - run: *codechecks
    docker:
      - image: cimg/python:3.14
